In [1]:
import pandas as pd

In [2]:
patients_df = pd.read_csv("/Users/sri_sai_nikhil_enni/Documents/DMDD/Assignment 3/patients_data.csv")
diagnosis_df= pd.read_csv("/Users/sri_sai_nikhil_enni/Documents/DMDD/Assignment 3/diagnosis_data.csv")
department_df = pd.read_csv("/Users/sri_sai_nikhil_enni/Documents/DMDD/Assignment 3/medicine_prescription_records.csv")
hospitals_df = pd.read_csv("/Users/sri_sai_nikhil_enni/Documents/DMDD/Assignment 3/Hospitals.csv")

drugs_df= pd.read_csv("/Users/sri_sai_nikhil_enni/Documents/DMDD/Assignment 3/diseases_drug.csv")
diseases_df= pd.read_csv("/Users/sri_sai_nikhil_enni/Documents/DMDD/Assignment 3/diseases_data.csv")

In [3]:
patients_df.head()

   patientid               name   age
0      31397    lydia blackwell  55.5
1      63418     ronald johnson  75.5
2       8088  michelle gonzales  35.5
3      28843      miguel carter  45.5
4     109338   molly villarreal  35.5

In [4]:
diagnosis_df.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,...,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay,start_date,end_date,disease
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,...,7.0,Emergency,Extreme,2,51-60,4911.0,0-10,2022-03-05,2022-03-08,cervical cancer
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,...,7.0,Trauma,Extreme,2,51-60,5954.0,41-50,2022-04-20,2022-04-21,dementia
2,3,10,e,1,X,2,anesthesia,S,E,2.0,...,7.0,Trauma,Extreme,2,51-60,4745.0,31-40,2019-05-15,2019-05-16,osteoarthritis
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,...,7.0,Trauma,Extreme,2,51-60,7272.0,41-50,2021-05-28,2021-06-03,meningitis
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,...,7.0,Trauma,Extreme,2,51-60,5558.0,41-50,2019-10-05,2019-10-10,vitamin d deficiency

In [5]:
department_df.head()

,Unnamed: 0,specialty,years_practicing,cms_prescription_counts
0,0,Nephrology,7,"DOXAZOSIN MESYLATE, MIDODRINE HCL, MEGESTROL A..."
1,1,General Practice,7,"CEPHALEXIN, AMOXICILLIN, HYDROCODONE-ACETAMINO..."
2,2,General Practice,7,"CEPHALEXIN, AMOXICILLIN, CLINDAMYCIN HCL"
3,3,General Practice,7,AMOXICILLIN
4,4,Nephrology,6,"PIOGLITAZONE HCL, BENAZEPRIL HCL, DIAZEPAM, HY..."

In [6]:
hospitals_df.head()

,X,Y,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,-94.945477,29.747620,8497,76777520,HOUSTON METHODIST SAN JACINTO HOSPITAL ALEXAND...,1700 JAMES BOWIE DRIVE,BAYTOWN,TX,77520,NOT AVAILABLE,...,2017-12-18T00:00:00.000Z,http://www.houstonmethodist.org/locations/san-...,NOT AVAILABLE,NOT AVAILABLE,48.0,NON-PROFIT,-999.0,182.0,NOT AVAILABLE,Y
1,-82.881843,40.027143,8498,129043230,"WOODS AT PARKSIDE,THE",349 OLDE RIDENOUR ROAD,COLUMBUS,OH,43230,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.thewoodsatparkside.com/,1815,NOT AVAILABLE,39.0,PROPRIETARY,-999.0,50.0,NOT AVAILABLE,NOT AVAILABLE
2,-84.168027,39.774242,8499,130045404,DAYTON CHILDREN'S HOSPITAL,ONE CHILDRENS PLAZA,DAYTON,OH,45404,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.childrensdayton.org/cms/home/index....,1411,NOT AVAILABLE,39.0,NON-PROFIT,-999.0,155.0,PEDIATRIC LEVEL II,Y
3,-80.632972,41.005169,8500,128844512,VIBRA HOSPITAL OF MAHONING VALLEY,8049 SOUTH AVENUE,BOARDMAN,OH,44512,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.mahoningvalleyhospital.com/,1428,MAHONING VALLEY HOSPITAL BOARDMAN CAMPUS,39.0,PROPRIETARY,-999.0,45.0,NOT AVAILABLE,NOT AVAILABLE
4,-84.199398,39.747740,8501,129845417,HAVEN BEHAVIORAL SENIOR CARE OF DAYTON,"ONE ELIZABETH PLACE,E3 SUITE A",DAYTON,OH,45417,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,https://dayton.havenbehavioral.com/,1506,NOT AVAILABLE,39.0,PROPRIETARY,-999.0,32.0,NOT AVAILABLE,NOT AVAILABLE

In [7]:
drugs_df.head()

         drug  drug_id  disease_id
0  clonazepam      145         134
1  alprazolam       18         134
2   lorazepam      349         134
3   buspirone       92         134
4  sertraline      508         134

In [8]:
diseases_df.head()

,disease,symptoms,disease_id
0,panic disorder,"anxiety and nervousness,depression,shortness o...",134
1,panic disorder,"anxiety and nervousness,depression,shortness o...",134
2,panic disorder,"anxiety and nervousness,depression,shortness o...",134
3,panic disorder,"anxiety and nervousness,depression,shortness o...",134
4,panic disorder,"anxiety and nervousness,depression,shortness o...",134

### Medicines data

In [9]:
def preprocess_department_data(df):
    
    department_mapper = {"therapeutic radiology" : "radiotherapy",
        "pediatric anesthesiology" : "anesthesia",
        "dentist anesthesiologist": "anesthesia",
        "pulmonary diagnostics" : "chest",
        "pulmonary disease" : "chest",
        'adult reconstructive orthopaedic surgery': 'surgery',
         'facial plastic surgery': 'surgery',
         'female pelvic medicine and reconstructive surgery': 'surgery',
         'foot & ankle surgery': 'surgery',
         'foot surgery': 'surgery',
         'foot and ankle surgery': 'surgery',
         'hand surgery': 'surgery',
         'mohs-micrographic surgery': 'surgery',
         'ophthalmic plastic and reconstructive surgery': 'surgery',
         'ophthalmologic surgery': 'surgery',
         'oral and maxillofacial surgery': 'surgery',
         'orthopaedic surgery of the spine': 'surgery',
         'otolaryngology/facial plastic surgery': 'surgery',
         'pediatric orthopaedic surgery': 'surgery',
         'pediatric surgery': 'surgery',
         'plastic surgery': 'surgery',
         'plastic surgery within the head and neck': 'surgery',
         'plastic surgery within the head & neck': 'surgery',
         'plastic and reconstructive surgery': 'surgery',
         'surgery of the hand': 'surgery',
         'trauma surgery': 'surgery',
         'vascular surgery': 'surgery'}
    
    df = df.rename(columns = {"specialty":"department"})
    df['department'] = df['department'].apply(lambda x : x.lower())
    df['department'] = df['department'].replace(department_mapper)
    
    df = df.groupby('department')['cms_prescription_counts'].apply(lambda x: ','.join(x)).reset_index()

    df['availableMedcines'] = df['cms_prescription_counts'].apply(lambda x : [med[0].lower() + med.title().replace(" ","")[1:] for med in x.split(",")])
    df['availableMedcines'] = df['availableMedcines'].apply(lambda x : [i.strip() for i in x])
    df = df.explode('availableMedcines')
    df.reset_index(drop = True,inplace = True)
    
    return df[["department","availableMedcines"]]

department_df1 = preprocess_department_data(department_df)
# medicines_df1['availableMedcines'] = medicines_df1['availableMedcines'].explode()
department_df1.head()

   department  availableMedcines
0  acute care            spiriva
1  acute care        dvairDiskus
2  acute care  antoprazoleSodium
3  acute care           roairHfa
4  acute care          rednisone

### Hospitals data

In [10]:
hospitals_df.head()

,X,Y,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,-94.945477,29.747620,8497,76777520,HOUSTON METHODIST SAN JACINTO HOSPITAL ALEXAND...,1700 JAMES BOWIE DRIVE,BAYTOWN,TX,77520,NOT AVAILABLE,...,2017-12-18T00:00:00.000Z,http://www.houstonmethodist.org/locations/san-...,NOT AVAILABLE,NOT AVAILABLE,48.0,NON-PROFIT,-999.0,182.0,NOT AVAILABLE,Y
1,-82.881843,40.027143,8498,129043230,"WOODS AT PARKSIDE,THE",349 OLDE RIDENOUR ROAD,COLUMBUS,OH,43230,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.thewoodsatparkside.com/,1815,NOT AVAILABLE,39.0,PROPRIETARY,-999.0,50.0,NOT AVAILABLE,NOT AVAILABLE
2,-84.168027,39.774242,8499,130045404,DAYTON CHILDREN'S HOSPITAL,ONE CHILDRENS PLAZA,DAYTON,OH,45404,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.childrensdayton.org/cms/home/index....,1411,NOT AVAILABLE,39.0,NON-PROFIT,-999.0,155.0,PEDIATRIC LEVEL II,Y
3,-80.632972,41.005169,8500,128844512,VIBRA HOSPITAL OF MAHONING VALLEY,8049 SOUTH AVENUE,BOARDMAN,OH,44512,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.mahoningvalleyhospital.com/,1428,MAHONING VALLEY HOSPITAL BOARDMAN CAMPUS,39.0,PROPRIETARY,-999.0,45.0,NOT AVAILABLE,NOT AVAILABLE
4,-84.199398,39.747740,8501,129845417,HAVEN BEHAVIORAL SENIOR CARE OF DAYTON,"ONE ELIZABETH PLACE,E3 SUITE A",DAYTON,OH,45417,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,https://dayton.havenbehavioral.com/,1506,NOT AVAILABLE,39.0,PROPRIETARY,-999.0,32.0,NOT AVAILABLE,NOT AVAILABLE

In [11]:
hospitals_df.columns

Index(['X', 'Y', 'OBJECTID', 'ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP',
       'ZIP4', 'TELEPHONE', 'TYPE', 'STATUS', 'POPULATION', 'COUNTY',
       'COUNTYFIPS', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'NAICS_CODE',
       'NAICS_DESC', 'SOURCE', 'SOURCEDATE', 'VAL_METHOD', 'VAL_DATE',
       'WEBSITE', 'STATE_ID', 'ALT_NAME', 'ST_FIPS', 'OWNER', 'TTL_STAFF',
       'BEDS', 'TRAUMA', 'HELIPAD'],
      dtype='object')

In [12]:
def preprocess_hospitals_data(df):
    
    for i in ['NAME','ADDRESS','CITY','STATE','ZIP','BEDS']:
        df[i] = df[i].astype(str).apply(lambda x : x.lower())
    
    df = df[['NAME','CITY','ZIP','BEDS','TELEPHONE', 'TYPE', 'STATUS','POPULATION', 'COUNTY','WEBSITE','HELIPAD']]
    df.columns = ['name','city','zipcode','beds','telephone', 'type', 'status','population', 'county','website','helipad']
    df = df.sample(32).reset_index(drop = True).reset_index()
    df = df.rename(columns = {"index" : "hospitalCode"})
    return df

hospitals_df1 = preprocess_hospitals_data(hospitals_df)
hospitals_df1.head()

,hospitalCode,name,city,zipcode,beds,telephone,type,status,population,county,website,helipad
0,0,saint elizabeths hospital,washington,20032,292.0,(202) 562-4000,PSYCHIATRIC,OPEN,292,DISTRICT OF COLUMBIA,http://dmh.dc.gov/page/saint-elizabeths-hospital,NOT AVAILABLE
1,1,saint thomas river park hospital,mc minnville,37110,125.0,(931) 815-4101,GENERAL ACUTE CARE,OPEN,125,WARREN,http://www.sthealth.com/locations/saint-thomas...,Y
2,2,vibra hospital of richmond llc,richmond,23230,60.0,(804) 678-7000,LONG TERM CARE,OPEN,60,HENRICO,www.vibrahealthcare.com,NOT AVAILABLE
3,3,"pelican rehabilitation hospital, llc",new orleans,70131,-999.0,(504) 378-5060,REHABILITATION,CLOSED,-999,ORLEANS,NOT AVAILABLE,NOT AVAILABLE
4,4,sparks regional medical center,fort smith,72901,476.0,(479) 441-4000,GENERAL ACUTE CARE,OPEN,476,SEBASTIAN,http://www.sparks.org,Y

### 3.diagnosis

In [13]:
def preprocess_diagnosis_data(df):
    #1.Interval Stay to Integer Stay
    df.loc[df[df['Stay'] == 'More than 100 Days'].index,'Stay'] = "0 - 240"
    df['Stay'] = df['Stay'].apply(lambda x : sum([int(i.strip()) for i in x.split("-")])*0.5)

    #3.Renaming columns
    cols = [col.replace("_"," ").title().replace(" ","") for col in df.columns]
    cols = [col[0].lower() + col[1:] for col in cols]
    df.columns = cols
    
    df['department'] = df['department'].apply(lambda x : str(x).lower())
    df['department'] = df['department'].replace({"tb & chest disease" : "chest"})
    df = df.drop(columns = ['hospitalTypeCode','cityCodeHospital','hospitalRegionCode','availableExtraRoomsInHospital','age'])
    return df

diagnosis_df1 = preprocess_diagnosis_data(diagnosis_df)
disease2id = dict(zip(diseases_df['disease'],diseases_df['disease_id']))
diagnosis_df1['disease_id'] = diagnosis_df1['disease'].apply(lambda x : disease2id[x])
diagnosis_df1=diagnosis_df1.drop(columns = ['disease'])
diagnosis_df1.head()

,caseId,hospitalCode,department,wardType,wardFacilityCode,bedGrade,patientid,cityCodePatient,typeOfAdmission,severityOfIllness,visitorsWithPatient,admissionDeposit,stay,startDate,endDate,disease_id
0,1,8,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,4911.0,5.0,2022-03-05,2022-03-08,31
1,2,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,5954.0,45.5,2022-04-20,2022-04-21,43
2,3,10,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,4745.0,35.5,2019-05-15,2019-05-16,129
3,4,26,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,7272.0,45.5,2021-05-28,2021-06-03,112
4,5,26,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,5558.0,45.5,2019-10-05,2019-10-10,199

### 1.EDA

In [15]:

drugs_df= pd.read_csv("/Users/sri_sai_nikhil_enni/Documents/DMDD/Assignment 3/diseases_drug.csv")
# diseases_df= pd.read_csv("/Users/admin/notebooks/nikhil/diseases_data.csv")

In [17]:
import sqlite3
conn = sqlite3.connect('/Users/sri_sai_nikhil_enni/Documents/DMDD/Assignment 3/Medicines Database DMDD2.db')
diagnosis_df1.to_sql(name="Diagnosis", con=conn, if_exists='replace', index=False)
hospitals_df1.to_sql(name="Hospitals", con=conn, if_exists='replace', index=False)
drugs_df.to_sql(name="Drugs", con=conn, if_exists='replace', index=False)
diseases_df.to_sql(name="Diseases", con=conn, if_exists='replace', index=False)
patients_df.to_sql(name="Patients", con=conn, if_exists='replace', index=False)

92017